# Ignore server files
banned-ips.json
banned-players.json
eula.txt
fabric-sever-launch.jar
ops.json
server.jar
usercache.json
whitelist.json

# Ignore server folders
logs/**
mods/*.jar
mods/*.jar.disabled
not-enough-crashes/**
world/**

# Ignore Client files
servers.dat
servers.dat_old
realms_persistence.json
saves/**
screenshots/**
server-resource-packs/**
texturepacks/**
XaeroWorldMap/**
config.bak.json

# Ignore packwiz-installer
packwiz-installer-bootstrap.jar
packwiz-installer.jar
packwiz.json

# Ignore client-generated configs
config/minihud/**
config/litematica/**
config/worldedit/**
crash-reports/**

# Ignore Modrinth Files
*.mrpack