# Ignore server files
banned-ips.json
banned-players.json
eula.txt
ops.json
server.jar
usercache.json
whitelist.json

# Ignore server folders
logs/**
mods/*.jar
mods/*.jar.disabled
world/**

# Ignore Client files
servers.dat
servers.dat_old
realms_persistence.json
saves/**
screenshots/**
server-resource-packs/**
texturepacks/**
config.bak.json

# Ignore packwiz-installer
packwiz-installer-bootstrap.jar
packwiz-installer.jar
packwiz.json

# Ignore client-generated configs


# Ignore Modrinth Files
*.mrpack