# Ignore server files
banned-ips.json
banned-players.json
eula.txt
fabric-sever-launch.jar
ops.json
server.jar
usercache.json
whitelist.json

# Ignore server folders
logs/**
mods/*.jar
not-enough-crashes/**
world/**

# Ignore fabric folders
.fabric-installer/**
.fabric/**
.mixin.out/**
coremods/**

# Ignore Client files
servers.dat
realms_persistence.json
saves/**
screenshots/**
server-resource-packs/**
texturepacks/**

# Ignore packwiz-installer
packwiz-installer-bootstrap.jar
packwiz-installer.jar
packwiz.json

# Ignore client-generated configs
config/minihud/**
config/litematica/**
config/worldedit/**