name: main Release

on:
  push:
    branches:
      - main

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Create Release
        uses: anton-yurchenko/git-release@v5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CHANGELOG_FILE: "CHANGELOG.md"
          ALLOW_EMPTY_CHANGELOG: "false"
        # with:
        #   args: |
        #     shattered_stars.mrpack
        #     shattered_stars.zip

      - name: mrpack-upload
        #uses: Warped-Modding/mrpack-upload@0.0.9
        #with:
        #  name: 
        #  version-number: 
        #  project-id: 
        #  pack-filename: 
        #  game-versions: 
        #  loaders: 
        #  modrinth-token: 
